Cython
Jinja2
MarkupSafe
pillow
Pygments
appnope
backports-abc
backports.ssl-match-hostname
certifi
cycler
decorator
ipykernel
ipython
ipython-genutils
ipywidgets
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
path.py
pexpect
pickleshare
ptyprocess
pyparsing
python-dateutil
pytz
pyzmq
qtconsole
scipy
simplegeneric
scikit-image
singledispatch
six
terminado
tornado
traitlets
tqdm
